[user]
	name = Leandro Fração
	email = ldfracao@protonmail.com
[alias]
	cfg = config --global
	cfl = config --list
	st = status
	ad = add
	br = branch
	ch = checkout
	cm = commit -m
	lg = log --all --decorate --oneline --graph

